/* line 5, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/style.scss */
html, body {
  padding: 0;
  margin: 0;
  min-width: 720px;
}

/* line 16, ../sass/style.scss */
body {
  font-size: 12pt;
  font-family: MyriadPro, sans-serif;
  background: url("../img/bg.jpg");
  background-color: #1a0f09;
  background-repeat: no-repeat;
  background-position: 50% 0;
  width: 100%;
}

/* line 28, ../sass/style.scss */
.layout-center {
  padding-top: 1px;
}

/* line 32, ../sass/style.scss */
.logo {
  width: 196px;
  height: 166px;
  margin: 297px auto;
  margin-bottom: 10px;
}

/* line 39, ../sass/style.scss */
.info {
  background: url("../img/for-text.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 720px;
  padding-top: 3px;
  padding-bottom: 5px;
  margin: 10px auto;
  font-size: 14pt;
  text-align: center;
  color: #7c6455;
}

/* line 54, ../sass/style.scss */
.fields {
  width: 720px;
  margin: 33px auto;
  text-align: center;
}
/* line 59, ../sass/style.scss */
.fields .input {
  background: url("../img/input.png");
  background-color: transparent;
  border: 0;
  padding: 0 10px;
  width: 177px;
  height: 49px;
  margin: 17px 16px;
  font-size: 12pt;
  color: #3c2b21;
  outline: none;
  text-overflow: ellipsis;
}
/* line 61, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.fields .input:-moz-placeholder {
  color: #3c2b21;
}
/* line 64, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.fields .input::-moz-placeholder {
  color: #3c2b21;
}
/* line 67, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.fields .input:-ms-input-placeholder {
  color: #3c2b21;
}
/* line 56, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.fields .input::-webkit-input-placeholder {
  color: #3c2b21;
}
/* line 76, ../sass/style.scss */
.fields .separator {
  display: inline-block;
  background-image: url("../img/separator.png");
  width: 12px;
  height: 12px;
}
/* line 83, ../sass/style.scss */
.fields a.button {
  display: block;
  background: transparant;
  background-image: url("../img/button.png");
  width: 260px;
  margin: 35px auto;
  height: 53px;
}

/* line 93, ../sass/style.scss */
.error {
  background: url("../img/error.png");
  background-size: 100% 100%;
  width: 344px;
  margin: 15px auto;
  padding: 5px;
  font-size: 12pt;
  text-align: center;
  color: #e15755;
  display: none;
}

/* line 105, ../sass/style.scss */
.popup {
  background: url(../img/popup/popup-form.png);
  width: 378px;
  height: 198px;
  position: absolute;
  z-index: 5000;
  left: 50%;
  top: 50%;
  margin-top: -99px;
  margin-left: -189px;
  display: none;
}

/* line 118, ../sass/style.scss */
.popup-content {
  text-align: center;
  margin: auto;
}
/* line 123, ../sass/style.scss */
.popup-content h1 {
  line-height: 2;
  color: #ffffff;
}
/* line 128, ../sass/style.scss */
.popup-content p {
  margin-top: 18px;
  margin-bottom: 16px;
  color: #9b7865;
}
/* line 135, ../sass/style.scss */
.popup-content input {
  background: url(../img/input.png);
  background-color: transparent;
  border: 0;
  padding: 0 10px;
  width: 176px;
  height: 49px;
  color: #3c2b21;
  outline: none;
  text-overflow: ellipsis;
}
/* line 61, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.popup-content input:-moz-placeholder {
  color: #3c2b21;
}
/* line 64, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.popup-content input::-moz-placeholder {
  color: #3c2b21;
}
/* line 67, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.popup-content input:-ms-input-placeholder {
  color: #3c2b21;
}
/* line 56, ../../../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.popup-content input::-webkit-input-placeholder {
  color: #3c2b21;
}
/* line 149, ../sass/style.scss */
.popup-content a {
  display: block;
  margin: 20px auto;
}
/* line 153, ../sass/style.scss */
.popup-content a.submit {
  background: url(../img/popup/popup-btn.png);
  width: 87px;
  height: 30px;
  text-decoration: none;
  font-family: MyriadPro;
  font-size: 12pt;
  color: #ffffff;
  line-height: 2em;
}

/* line 167, ../sass/style.scss */
.popup_overlay {
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: none;
}
