@import "compass/reset";
@import "compass/css3";


#body {
  background-color: #1A0F00;
  background-image: url("../images/background.png");
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;

  #logo {
    background-image: url("../images/logo.png");
    width: 196px;
    height: 166px;
    margin: auto;
    margin-top: 297px;

    a {
      display: block;
      width: inherit;
      height: inherit;
    }
  }

  #info {
    background-color: #4C1A0D;
    width: 720px;
    margin: 10px auto;
    padding: 5px 0 5px 0;
    font-family: MyriadPro;
    font-size: 12pt;
    text-align: center;
    color: #7c6455;
    @include border-radius(20px);
  }

  #form {
    margin: auto;
    width: 720px;
    text-align: center;

    .fields {
      .input {
        background-image: url("../images/input.png");
        background-color: transparent;
        border: 0;
        padding: 0 10px;
        width: 197px - 2*10px;
        height: 49px;
        margin: 17px 16px;
        font-family: MyriadPro;
        font-size: 12pt;
        color: #6e6763;
        outline: none;
        @include input-placeholder {
          color: #6e6763;
        }
      }

      .separator {
        background-image: url("../images/separator.png");
        width: 12px;
        height: 13px;
        display: inline-block;
      }
    }

    a.button {
      display: block;
      margin: 15px auto;

      &.submit {
        background-image: url("../images/button.png");
        width: 255px;
        height: 47px;
        color: #linear-gradient;
        color: #D3AB4D;
        line-height: 2.4em;
        font-family: MyriadProRegular;
        font-size: 15pt;
        text-decoration: none;
      }
    }
  }
}

