@import "compass/reset";
@import "compass/css3";

$width:720px;
$font:MyriadPro, sans-serif;
$font-size:12pt;



html,body{
    padding:0;
    margin:0;
    min-width:$width;
}

body{
    font-size:$font-size;
    font-family:$font;
    background: url("../img/bg.jpg")
        {
        color: #1a0f09;
        repeat: no-repeat;
        position: 50% 0;
     }
    width:100%;
}

.layout-center {
    padding-top:1px;
}

.logo{
    width:196px;
    height:166px;
    margin:297px auto;
    margin-bottom:10px;
}

.info{
    background: url("../img/for-text.png")
        {
        repeat:no-repeat;
        size: 100% 100%;
        }
    width:$width;
    padding-top:3px;
    padding-bottom:5px;
    margin:10px auto;
    font-size:$font-size+2pt;
    text-align:center;
    color:#7c6455;
}

.fields{
    width:$width;
    margin:33px auto;
    text-align: center;

.input{
    background:url("../img/input.png");
    background-color: transparent;
    border: 0;
    padding:0 10px;
    width:197px - 2*10px;
    height:49px;
    margin:17px 16px;
    font-size:$font-size;
    color:#3c2b21;
    outline: none;
    text-overflow: ellipsis;
    @include input-placeholder {
          color: #3c2b21;
        }
}

.separator {
    display:inline-block;
    background-image:url("../img/separator.png");
    width:12px;
    height:12px;
}

a.button{
    display:block;
    background:transparant;
    background-image:url("../img/button.png");
    width:260px;
    margin:35px auto;
    height:53px;
    }
}

.error{
    background:url("../img/error.png");
    background-size:100% 100%;
    width:344px;
    margin:15px auto;
    padding:5px;
    font-size:$font-size;
    text-align:center;
    color:#e15755;
    display:none;
}

.popup{
    background:url(../img/popup/popup-form.png);
    width:378px;
    height:198px;
    position:absolute;
    z-index:5000;
    left:50%;
    top:50%;
    margin-top:-99px;
    margin-left:-189px;
    display:none;
}

.popup-content{
    text-align:center;
    margin: auto;


h1{
      line-height: 2;
      color:#ffffff;
      }

p{
      margin-top:18px;
      margin-bottom:16px;
      color:#9b7865;
    }


 input{
      background:url(../img/input.png);
      background-color: transparent;
      border: 0;
      padding:0 10px;
      width:196px - 2*10px;
      height:49px;
      color:#3c2b21;
      outline: none;
      text-overflow: ellipsis;
      @include input-placeholder {
          color: #3c2b21;
  }
}
a{
    display:block;
    margin:20px auto;

  &.submit{
      background:url(../img/popup/popup-btn.png);
      width:87px;
      height:30px;
      text-decoration: none;
      font-family: MyriadPro;
      font-size: 12pt;
      color:#ffffff;
      line-height:2em;

  }
 }
}

.popup_overlay{
  background: #000;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  display:none;
}