@import "compass/reset";

#body {
  background-color: #1C120A;
  background-image: url("../images/background.png");
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;

  #logo {
    background-image: url("../images/logo.png");
    width: 196px;
    height: 166px;
    position: relative;
    margin: auto;
    margin-top: 300px;

    a {
      display: block;
      width: inherit;
      height: inherit;
    }
  }
}

