/* Custom styles
-------------------------------------------------- */
html, body{height:100%;width:100%;background: #1a0f09}

p{font-size:20px;}

input:-moz-placeholder {color: #6e6763;}
input::-moz-placeholder {color: #6e6763;}
input:-ms-input-placeholder {color: #6e6763;}
input::-webkit-input-placeholder {color: #6e6763;}
input{border: 0;outline: none;}
input.input{padding: 0 10px;width: 197px;height: 49px;margin: 2%;font-size: 18px;color: #7c6455;}

@media (max-width: 800px) {
.h1, h1{font-size:22px}
.h3, h3{font-size:14px}
}
@media (min-width: 1024px) {
.h1, h1{font-size:32px}
.h3, h3{font-size:20px}
}
@media (min-width: 1200px) {
.h1, h1{font-size:36px}
.h3, h3{font-size:24px}
}

/***** non-responsive *****/
/*.container {max-width: none !important;width: 1000px;}*/

/***** Start page *****/
.intro {background: #1a0f09 url(../img/intro-bg.png) no-repeat center top / auto 100%;color: #fff;display: table;height: 100%;padding: 0;text-align: center;width: 100%;}
.intro-body .logo-img{padding:0 20%}
.intro-body .logo-img img{width:100%}
.info {display:inline-block;margin:0 auto;background: url(../img/info-text.png) no-repeat 0 0 / 100% 100%;}
.info span{font-size: calc(100%-90%);color: #7c6455;line-height:1.5;padding:0 20px}

.fields .input {background: transparent url(../img/input.png);}
.fields a.button {display: block;background: transparant;background-image: url(../img/button.png);width: 260px;margin: 1% auto;height: 53px;}
.fields .separator {display: inline-block;background-image: url(../img/separator.png);width: 12px;height: 12px;}

.error{background: #680503;margin: 15px auto;padding: 5px 10px;font-size: 12pt;color: #e15755;position:relative;display:inline-block;}
.error:before, .error:after{content:"";position:absolute;height:0;width:0;top:50%;margin-top:-5px}
.error:before{border-top: 5px solid transparent;border-right: 5px solid #680503;border-bottom: 5px solid transparent;left:-5px;}
.error:after{border-top: 5px solid transparent;border-left: 5px solid #680503;border-bottom: 5px solid transparent;right:-5px}

/***** Top nav *****/
.top-nav-bg{height:50px;background:url(../img/top-nav.png) no-repeat bottom center, url(../img/top-nav-total.png) repeat-x bottom center, rgba(63,0,0,1);}
.logo-top{position:absolute;top:0;left:50%;margin-left:-35px;width:70px;height:90px;background: transparent url(../img/logo-top.png) no-repeat 0 0}
ul{padding:0;margin:0}
.top-nav-block li{list-style:none;display:inline-block;margin:0 35px;padding: 0;}
li a{display:block;position:relative;color:#f2e1bd;font-size:16px;height:27px;min-width:80px;line-height:27px;background: rgba(0, 0, 0, 0) url(../img/top-menu-bg.png) repeat-x bottom center;}
li a:before, li a:after{content:"";position:absolute;height:27px;width:15px;background: rgba(0, 0, 0, 0) url(../img/top-menu-bg.png) no-repeat;}
li a:after{right:-15px;background-position: 0 -27px;}
li a:before{left:-15px;background-position: 0 0;}
li a:hover{color:#facb80;text-decoration:none;}
.top-nav-container{height:50px;display:table;text-align:center;width:100%;}
.top-nav-block{display:table-cell;vertical-align:middle}
li.separator{background:none;width:70px;margin:0;height:10px}

/* */
.arch{height:132px;width:100%;background:url(../img/arch.png) no-repeat top center / 100% 132px;}
.arch .separator{width:70px;height:10px;}
.user-info{height:45px;font-size:17px;line-height:45px;width:calc(100%/2 - 50px);}
.arch a.user-profile{color:#facb80;}
.arch a.user-exit:after{content:"";display:inline-block;height:16px;width:16px;margin:0 0 -3px 8px;background: rgba(0, 0, 0, 0) url(../img/icons.png) no-repeat 0 -16px;}
.arch .money-before{color:#609602}
.valuta:after{content:"$";display:inline-block;color:#a9927b;margin:0 0 0 8px;}

/***** Game table *****/
.game-zone{position:relative;margin:9% auto 18% auto;border-radius:50%;
-webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75);}
.demo .gamer-item{position:absolute;border-radius:50%;background: rgba(0, 0, 0, 0) url(../img/gamer-item-bg.png) no-repeat center center / cover;}
.main .gamer-item{position:absolute;border-radius:50%;background: rgba(0, 0, 0, 0) url(../img/loss-signal.png) no-repeat center center / cover;}
.gamer-item p{color:#fff;text-align:center}
img.stretches{width:100%;height:auto;}
.gamer-num-0{bottom:calc(100% - 130%);left:50%;}

@media (max-width: 600px) {
.top-nav-block li{margin:0 16px;}
.gamer-num-0,
.gamer-num-1,
.gamer-num-2,
.gamer-num-3,
.gamer-num-4,
.gamer-num-5,
.gamer-num-6,
.gamer-num-7,
.gamer-num-8,
.gamer-num-9,
.gamer-num-10,
.gamer-num-11{display:none}
}
@media (min-width: 768px) {
.game-zone{width:570px;height:293px}
.gamer-item{height:110px;width:110px;}
.user-info{width:110px;}
.gamer-num-0{margin-left:-55px}
.gamers-2 .gamer-num-1{margin-left:-55px}

.gamers-4 .gamer-num-1{margin:-55px 0 0 -86px}
.gamers-4 .gamer-num-2{margin-left:-55px}
.gamers-4 .gamer-num-3{margin:-55px -86px 0 0}

.gamers-5 .gamer-num-1{margin:-55px 0 0 -86px}
.gamers-5 .gamer-num-4{margin:-55px -86px 0 0}

.gamers-6 .gamer-num-3{margin-left:-55px}

.gamers-8 .gamer-num-2{margin:-55px 0 0 -86px}
.gamers-8 .gamer-num-4{margin-left:-55px}
.gamers-8 .gamer-num-6{margin:-55px -86px 0 0}

.gamers-10 .gamer-num-5{margin-left:-55px}

.gamers-12 .gamer-num-3{margin:-55px 0 0 -86px}
.gamers-12 .gamer-num-6{margin-left:-55px}
.gamers-12 .gamer-num-9{margin:-55px -86px 0 0}

}
@media (min-width: 992px) {
.game-zone{width:760px;height:391px}
.gamer-item{height:148px;width:148px;}
.user-info{width:148px;}
.gamer-num-0{margin-left:-74px}
.gamers-2 .gamer-num-1{margin-left:-74px}

.gamers-4 .gamer-num-1{margin:-74px 0 0 -116px}
.gamers-4 .gamer-num-2{margin-left:-74px}
.gamers-4 .gamer-num-3{margin:-74px -116px 0 0}

.gamers-5 .gamer-num-1{margin:-74px 0 0 -116px}
.gamers-5 .gamer-num-4{margin:-74px -116px 0 0}

.gamers-6 .gamer-num-3{margin-left:-74px}

.gamers-8 .gamer-num-2{margin:-74px 0 0 -116px}
.gamers-8 .gamer-num-4{margin-left:-74px}
.gamers-8 .gamer-num-6{margin:-74px -116px 0 0}

.gamers-10 .gamer-num-5{margin-left:-74px}

.gamers-12 .gamer-num-3{margin:-74px 0 0 -116px}
.gamers-12 .gamer-num-6{margin-left:-74px}
.gamers-12 .gamer-num-9{margin:-74px -116px 0 0}

}
@media (min-width: 1200px) {
.game-zone{width:960px;height:493px}
.gamer-item{height:186px;width:186px;}
.user-info{width:186px;}
.gamer-num-0{margin-left:-93px}
.gamers-2 .gamer-num-1{margin-left:-93px}

.gamers-4 .gamer-num-1{margin:-93px 0 0 -146px}
.gamers-4 .gamer-num-2{margin-left:-93px}
.gamers-4 .gamer-num-3{margin:-93px -146px 0 0}

.gamers-5 .gamer-num-1{margin:-93px 0 0 -146px}
.gamers-5 .gamer-num-4{margin:-93px -146px 0 0}

.gamers-6 .gamer-num-3{margin-left:-93px}

.gamers-8 .gamer-num-2{margin:-93px 0 0 -146px}
.gamers-8 .gamer-num-4{margin-left:-93px}
.gamers-8 .gamer-num-6{margin:-93px -146px 0 0}

.gamers-10 .gamer-num-5{margin-left:-93px}

.gamers-12 .gamer-num-3{margin:-93px 0 0 -146px}
.gamers-12 .gamer-num-6{margin-left:-93px}
.gamers-12 .gamer-num-9{margin:-93px -146px 0 0}

}
@media (min-width: 2000px) {
.game-zone{width:1200px;height:617px}
.gamer-item{height:234px;width:234px;}
.user-info{width:234px;}
.gamer-num-0{margin-left:-117px}
.gamers-2 .gamer-num-1{margin-left:-117px}

.gamers-4 .gamer-num-1{margin:-117px 0 0 -183px}
.gamers-4 .gamer-num-2{margin-left:-117px}
.gamers-4 .gamer-num-3{margin:-117px -183px 0 0}

.gamers-5 .gamer-num-1{margin:-117px 0 0 -183px}
.gamers-5 .gamer-num-4{margin:-117px -183px 0 0}

.gamers-6 .gamer-num-3{margin-left:-117px}

.gamers-8 .gamer-num-2{margin:-117px 0 0 -183px}
.gamers-8 .gamer-num-4{margin-left:-117px}
.gamers-8 .gamer-num-6{margin:-117px -183px 0 0}

.gamers-10 .gamer-num-5{margin-left:-117px}

.gamers-12 .gamer-num-3{margin:-117px 0 0 -183px}
.gamers-12 .gamer-num-6{margin-left:-117px}
.gamers-12 .gamer-num-9{margin:-117px -183px 0 0}

}

.gamers-2 .gamer-num-1{top:-30%;left:50%;}

.gamers-3 .gamer-num-1{top:0;left:-10.5%;}
.gamers-3 .gamer-num-2{top:0;right:-10.5%;}

.gamers-4 .gamer-num-1{top:50%;left:0;}
.gamers-4 .gamer-num-2{top:-30%;left:50%;}
.gamers-4 .gamer-num-3{top:50%;right:0;}

.gamers-5 .gamer-num-1{top:50%;left:0;}
.gamers-5 .gamer-num-2{top:-30%;left:16%;}
.gamers-5 .gamer-num-3{top:-30%;right:16%;}
.gamers-5 .gamer-num-4{top:50%;right:0;}

.gamers-6 .gamer-num-1{top:72%;left:-7%;}
.gamers-6 .gamer-num-2{top:-10%;left:-7%;}
.gamers-6 .gamer-num-3{top:-30%;left:50%;}
.gamers-6 .gamer-num-4{top:-10%;right:-7%;}
.gamers-6 .gamer-num-5{top:72%;right:-7%;}

.gamers-7 .gamer-num-1{top:82%;left:-1%;}
.gamers-7 .gamer-num-2{top:12%;left:-13.5%;}
.gamers-7 .gamer-num-3{top:-30%;left:20%;}
.gamers-7 .gamer-num-4{top:-30%;right:20%;}
.gamers-7 .gamer-num-5{top:12%;right:-13.5%;}
.gamers-7 .gamer-num-6{top:82%;right:-1%;}

.gamers-8 .gamer-num-1{top:85%;left:2%;}
.gamers-8 .gamer-num-2{top:50%;left:0;}
.gamers-8 .gamer-num-3{top:-23%;left:2%;}
.gamers-8 .gamer-num-4{top:-30%;left:50%;}
.gamers-8 .gamer-num-5{top:-23%;right:2%;}
.gamers-8 .gamer-num-6{top:50%;right:0;}
.gamers-8 .gamer-num-7{top:85%;right:2%;}

.gamers-9 .gamer-num-1{top:89%;left:7%;}
.gamers-9 .gamer-num-2{top:45%;left:-14%;}
.gamers-9 .gamer-num-3{top:-10%;left:-6%;}
.gamers-9 .gamer-num-4{top:-30%;left:24%;}
.gamers-9 .gamer-num-5{top:-30%;right:24%;}
.gamers-9 .gamer-num-6{top:-10%;right:-6%;}
.gamers-9 .gamer-num-7{top:45%;right:-14%;}
.gamers-9 .gamer-num-8{top:89%;right:7%;}

.gamers-10 .gamer-num-1{top:91.5%;left:12%;}
.gamers-10 .gamer-num-2{top:60%;left:-11.5%;}
.gamers-10 .gamer-num-3{top:3%;left:-11.5%;}
.gamers-10 .gamer-num-4{top:-29%;left:12%;}
.gamers-10 .gamer-num-5{top:-30%;left:50%;}
.gamers-10 .gamer-num-6{top:-29%;right:12%;}
.gamers-10 .gamer-num-7{top:3%;right:-11.5%;}
.gamers-10 .gamer-num-8{top:60%;right:-11.5%;}
.gamers-10 .gamer-num-9{top:91.5%;right:12%;}

.gamers-11 .gamer-num-1{top:92%;left:13.5%;}
.gamers-11 .gamer-num-2{top:66%;left:-10%;}
.gamers-11 .gamer-num-3{top:16%;left:-14.5%;}
.gamers-11 .gamer-num-4{top:-23%;left:2%;}
.gamers-11 .gamer-num-5{top:-30%;left:27.5%;}
.gamers-11 .gamer-num-6{top:-30%;right:27.5%;}
.gamers-11 .gamer-num-7{top:-23%;right:2%;}
.gamers-11 .gamer-num-8{top:16%;right:-14.5%;}
.gamers-11 .gamer-num-9{top:66%;right:-10%;}
.gamers-11 .gamer-num-10{top:92%;right:13.5%;}

.gamers-12 .gamer-num-1{top:92%;left:16%;}
.gamers-12 .gamer-num-2{top:73%;left:-6%;}
.gamers-12 .gamer-num-3{top:50%;left:0;}
.gamers-12 .gamer-num-4{top:-11%;left:-6%;}
.gamers-12 .gamer-num-5{top:-30%;left:16%;}
.gamers-12 .gamer-num-6{top:-30%;left:50%;}
.gamers-12 .gamer-num-7{top:-30%;right:16%;}
.gamers-12 .gamer-num-8{top:-11%;right:-6%;}
.gamers-12 .gamer-num-9{top:50%;right:0;}
.gamers-12 .gamer-num-10{top:73%;right:-6%;}
.gamers-12 .gamer-num-11{top:92%;right:16%;}

.gamer-num-1,
.gamer-num-2,
.gamer-num-3,
.gamer-num-4,
.gamer-num-5,
.gamer-num-6,
.gamer-num-7,
.gamer-num-8,
.gamer-num-9,
.gamer-num-10,
.gamer-num-11{display:none}

.gamers-2 .gamer-num-1{display:block}

.gamers-3 .gamer-num-1,
.gamers-3 .gamer-num-2{display:block}

.gamers-4 .gamer-num-1,
.gamers-4 .gamer-num-2,
.gamers-4 .gamer-num-3{display:block}

.gamers-5 .gamer-num-1,
.gamers-5 .gamer-num-2,
.gamers-5 .gamer-num-3,
.gamers-5 .gamer-num-4{display:block}

.gamers-6 .gamer-num-1,
.gamers-6 .gamer-num-2,
.gamers-6 .gamer-num-3,
.gamers-6 .gamer-num-4,
.gamers-6 .gamer-num-5{display:block}

.gamers-7 .gamer-num-1,
.gamers-7 .gamer-num-2,
.gamers-7 .gamer-num-3,
.gamers-7 .gamer-num-4,
.gamers-7 .gamer-num-5,
.gamers-7 .gamer-num-6{display:block}

.gamers-8 .gamer-num-1,
.gamers-8 .gamer-num-2,
.gamers-8 .gamer-num-3,
.gamers-8 .gamer-num-4,
.gamers-8 .gamer-num-5,
.gamers-8 .gamer-num-6,
.gamers-8 .gamer-num-7{display:block}

.gamers-9 .gamer-num-1,
.gamers-9 .gamer-num-2,
.gamers-9 .gamer-num-3,
.gamers-9 .gamer-num-4,
.gamers-9 .gamer-num-5,
.gamers-9 .gamer-num-6,
.gamers-9 .gamer-num-7,
.gamers-9 .gamer-num-8{display:block}

.gamers-10 .gamer-num-1,
.gamers-10 .gamer-num-2,
.gamers-10 .gamer-num-3,
.gamers-10 .gamer-num-4,
.gamers-10 .gamer-num-5,
.gamers-10 .gamer-num-6,
.gamers-10 .gamer-num-7,
.gamers-10 .gamer-num-8,
.gamers-10 .gamer-num-9{display:block}

.gamers-11 .gamer-num-1,
.gamers-11 .gamer-num-2,
.gamers-11 .gamer-num-3,
.gamers-11 .gamer-num-4,
.gamers-11 .gamer-num-5,
.gamers-11 .gamer-num-6,
.gamers-11 .gamer-num-7,
.gamers-11 .gamer-num-8,
.gamers-11 .gamer-num-9,
.gamers-11 .gamer-num-10{display:block}
.gamers-12 .gamer-num-1,
.gamers-12 .gamer-num-2,
.gamers-12 .gamer-num-3,
.gamers-12 .gamer-num-4,
.gamers-12 .gamer-num-5,
.gamers-12 .gamer-num-6,
.gamers-12 .gamer-num-7,
.gamers-12 .gamer-num-8,
.gamers-12 .gamer-num-9,
.gamers-12 .gamer-num-10,
.gamers-12 .gamer-num-11{display:block}

/* Информация игрока за столом */
.gamer-info{text-align:center;overflow:hidden;white-space:nowrap;position:absolute}

@media (max-width: 600px) {
.gamer-info{display:none}
}
@media (min-width: 768px) {
.gamer-info{max-width:90px;}
.gamer-info p{margin:0 0 2px 3px}
.gamer-info p, .gamer-info .lite-green{font-size:10px}
}
@media (min-width: 992px) {
.gamer-info{max-width:105px;}
.gamer-info p, .gamer-info .lite-green{font-size:12px}
}
@media (min-width: 1200px) {
.gamer-info{max-width:115px;}
.gamer-info p{margin:0 0 3px 3px}
.gamer-info p, .gamer-info .lite-green{font-size:14px}
}
@media (min-width: 2000px) {
.gamer-info{max-width:130px;}
.gamer-info p, .gamer-info .lite-green{font-size:16px}
}

/* Юзернеймы на столах - оформление */
.gamer-info .game-user{background:#142d14;padding:3px 10px;color:#bbbbbb;position:relative}
.gamer-info .game-user:focus, .gamer-info .game-user:hover{color:#fff;text-decoration:none}
.gamer-info .game-user:before, 
.gamer-info .game-user.admin:before{content:"";position:absolute;left:-3px;top:50%;margin-top:-2px;width:5px;height:5px;}
.gamer-info .game-user:before{border:1px solid #469746;background:#367436}
.gamer-info .game-user.admin:before{border:1px solid #b74725;background:#8d371d}


/***** Демо стол юзернеймы позиция *****/
@media (min-width: 768px) {
.demo .gamer-num-0 .gamer-info,
.gamers-2.demo .gamer-num-1 .gamer-info,
.gamers-4.demo .gamer-num-2 .gamer-info,
.gamers-5.demo .gamer-num-2 .gamer-info,
.gamers-5.demo .gamer-num-3 .gamer-info,
.gamers-6.demo .gamer-num-3 .gamer-info,
.gamers-7.demo .gamer-num-3 .gamer-info,
.gamers-7.demo .gamer-num-4 .gamer-info,
.gamers-8.demo .gamer-num-4 .gamer-info,
.gamers-9.demo .gamer-num-4 .gamer-info,
.gamers-9.demo .gamer-num-5 .gamer-info,
.gamers-10.demo .gamer-num-5 .gamer-info,
.gamers-11.demo .gamer-num-5 .gamer-info,
.gamers-11.demo .gamer-num-6 .gamer-info,
.gamers-12.demo .gamer-num-6 .gamer-info{margin-left:-45px}

}
@media (min-width: 992px) {
.demo .gamer-num-0 .gamer-info,
.gamers-2.demo .gamer-num-1 .gamer-info,
.gamers-4.demo .gamer-num-2 .gamer-info,
.gamers-5.demo .gamer-num-2 .gamer-info,
.gamers-5.demo .gamer-num-3 .gamer-info,
.gamers-6.demo .gamer-num-3 .gamer-info,
.gamers-7.demo .gamer-num-3 .gamer-info,
.gamers-7.demo .gamer-num-4 .gamer-info,
.gamers-8.demo .gamer-num-4 .gamer-info,
.gamers-9.demo .gamer-num-4 .gamer-info,
.gamers-9.demo .gamer-num-5 .gamer-info,
.gamers-10.demo .gamer-num-5 .gamer-info,
.gamers-11.demo .gamer-num-5 .gamer-info,
.gamers-11.demo .gamer-num-6 .gamer-info,
.gamers-12.demo .gamer-num-6 .gamer-info{margin-left:-52px}

}
@media (min-width: 1200px) {
.demo .gamer-num-0 .gamer-info,
.gamers-2.demo .gamer-num-1 .gamer-info,
.gamers-4.demo .gamer-num-2 .gamer-info,
.gamers-5.demo .gamer-num-2 .gamer-info,
.gamers-5.demo .gamer-num-3 .gamer-info,
.gamers-6.demo .gamer-num-3 .gamer-info,
.gamers-7.demo .gamer-num-3 .gamer-info,
.gamers-7.demo .gamer-num-4 .gamer-info,
.gamers-8.demo .gamer-num-4 .gamer-info,
.gamers-9.demo .gamer-num-4 .gamer-info,
.gamers-9.demo .gamer-num-5 .gamer-info,
.gamers-10.demo .gamer-num-5 .gamer-info,
.gamers-11.demo .gamer-num-5 .gamer-info,
.gamers-11.demo .gamer-num-6 .gamer-info,
.gamers-12.demo .gamer-num-6 .gamer-info{margin-left:-57px}

}
@media (min-width: 2000px) {
.demo .gamer-num-0 .gamer-info,
.gamers-2.demo .gamer-num-1 .gamer-info,
.gamers-4.demo .gamer-num-2 .gamer-info,
.gamers-5.demo .gamer-num-2 .gamer-info,
.gamers-5.demo .gamer-num-3 .gamer-info,
.gamers-6.demo .gamer-num-3 .gamer-info,
.gamers-7.demo .gamer-num-3 .gamer-info,
.gamers-7.demo .gamer-num-4 .gamer-info,
.gamers-8.demo .gamer-num-4 .gamer-info,,
.gamers-9.demo .gamer-num-4 .gamer-info,
.gamers-9.demo .gamer-num-5 .gamer-info,
.gamers-10.demo .gamer-num-5 .gamer-info,
.gamers-11.demo .gamer-num-5 .gamer-info,
.gamers-11.demo .gamer-num-6 .gamer-info,
.gamers-12.demo .gamer-num-6 .gamer-info{margin-left:-65px}

}

.demo .gamer-num-0 .gamer-info{top:-25%;left:50%}
.gamers-2.demo .gamer-num-1 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
 
.gamers-3.demo .gamer-num-1 .gamer-info{bottom:0;left:100%}
.gamers-3.demo .gamer-num-2 .gamer-info{bottom:0;right:100%}

.gamers-4.demo .gamer-num-1 .gamer-info{bottom:41%;left:114%}
.gamers-4.demo .gamer-num-2 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-4.demo .gamer-num-3 .gamer-info{bottom:41%;right:114%}

.gamers-5.demo .gamer-num-1 .gamer-info{bottom:41%;left:114%}
.gamers-5.demo .gamer-num-2 .gamer-info{bottom:-25%;left:50%}
.gamers-5.demo .gamer-num-3 .gamer-info{bottom:-25%;left:50%}
.gamers-5.demo .gamer-num-4 .gamer-info{bottom:41%;right:114%}

.gamers-6.demo .gamer-num-1 .gamer-info{top:0;left:100%}
.gamers-6.demo .gamer-num-2 .gamer-info{bottom:0;left:100%}
.gamers-6.demo .gamer-num-3 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-6.demo .gamer-num-4 .gamer-info{bottom:0;right:100%}
.gamers-6.demo .gamer-num-5 .gamer-info{top:0;right:100%}

.gamers-7.demo .gamer-num-1 .gamer-info{top:-30%;left:68%}
.gamers-7.demo .gamer-num-2 .gamer-info{bottom:20%;left:110%}
.gamers-7.demo .gamer-num-3 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-7.demo .gamer-num-4 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-7.demo .gamer-num-5 .gamer-info{bottom:20%;right:110%}
.gamers-7.demo .gamer-num-6 .gamer-info{top:-30%;right:68%}

.gamers-8.demo .gamer-num-1 .gamer-info{top:-30%;left:68%}
.gamers-8.demo .gamer-num-2 .gamer-info{bottom:41%;left:114%}
.gamers-8.demo .gamer-num-3 .gamer-info{bottom:-25%;left:70%}
.gamers-8.demo .gamer-num-4 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-8.demo .gamer-num-5 .gamer-info{bottom:-25%;right:70%}
.gamers-8.demo .gamer-num-6 .gamer-info{bottom:41%;right:114%}
.gamers-8.demo .gamer-num-7 .gamer-info{top:-30%;right:68%}

.gamers-9.demo .gamer-num-1 .gamer-info{top:-40%;left:38%}
.gamers-9.demo .gamer-num-2 .gamer-info{bottom:70%;left:110%}
.gamers-9.demo .gamer-num-3 .gamer-info{bottom:-10%;left:90%}
.gamers-9.demo .gamer-num-4 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-9.demo .gamer-num-5 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-9.demo .gamer-num-6 .gamer-info{bottom:-10%;right:90%}
.gamers-9.demo .gamer-num-7 .gamer-info{bottom:70%;right:110%}
.gamers-9.demo .gamer-num-8 .gamer-info{top:-40%;right:38%}

.gamers-10.demo .gamer-num-1 .gamer-info{top:-27%;left:50%}
.gamers-10.demo .gamer-num-2 .gamer-info{bottom:84%;left:105%}
.gamers-10.demo .gamer-num-3 .gamer-info{bottom:6%;left:105%}
.gamers-10.demo .gamer-num-4 .gamer-info{bottom:-25%;left:50%}
.gamers-10.demo .gamer-num-5 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-10.demo .gamer-num-6 .gamer-info{bottom:-25%;right:50%}
.gamers-10.demo .gamer-num-7 .gamer-info{bottom:6%;right:105%}
.gamers-10.demo .gamer-num-8 .gamer-info{bottom:84%;right:105%}
.gamers-10.demo .gamer-num-9 .gamer-info{top:-27%;right:50%}

.gamers-11.demo .gamer-num-1 .gamer-info{top:-30%;right:0}
.gamers-11.demo .gamer-num-2 .gamer-info{bottom:100%;left:95%}
.gamers-11.demo .gamer-num-3 .gamer-info{bottom:30%;left:115%}
.gamers-11.demo .gamer-num-4 .gamer-info{bottom:-25%;left:70%}
.gamers-11.demo .gamer-num-5 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-11.demo .gamer-num-6 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-11.demo .gamer-num-7 .gamer-info{bottom:-25%;right:70%}
.gamers-11.demo .gamer-num-8 .gamer-info{bottom:30%;right:115%}
.gamers-11.demo .gamer-num-9 .gamer-info{bottom:100%;right:95%}
.gamers-11.demo .gamer-num-10 .gamer-info{top:-30%;left:0}

.gamers-12.demo .gamer-num-1 .gamer-info{top:-28%;right:0}
.gamers-12.demo .gamer-num-2 .gamer-info{bottom:100%;left:88%}
.gamers-12.demo .gamer-num-3 .gamer-info{bottom:41%;left:114%}
.gamers-12.demo .gamer-num-4 .gamer-info{bottom:-15%;left:88%}
.gamers-12.demo .gamer-num-5 .gamer-info{bottom:-28%;left:35%}
.gamers-12.demo .gamer-num-6 .gamer-info{bottom:-25%;left:20%;right:20%;margin:0 auto}
.gamers-12.demo .gamer-num-7 .gamer-info{bottom:-28%;right:35%}
.gamers-12.demo .gamer-num-8 .gamer-info{bottom:-15%;right:88%}
.gamers-12.demo .gamer-num-9 .gamer-info{bottom:41%;right:114%}
.gamers-12.demo .gamer-num-10 .gamer-info{bottom:100%;right:88%}
.gamers-12.demo .gamer-num-11 .gamer-info{top:-28%;left:0}

/* Надписи в центре на демо столе */
.demo .poker-bet,
.demo .main-table-text{display:none} 
@media (max-width: 600px) {
.demo-table-text{display:none}
}
@media (min-width: 768px) {
.demo-table-text{top:20%;}
.demo-table-text h1{font-size:30px}
.demo-table-text h2{font-size:20px;margin:10px 0 5px 0}
.demo-table-text p{font-size:16px}
}
@media (min-width: 992px) {
.demo-table-text{top:25%;}
.demo-table-text h1{font-size:36px}
.demo-table-text h2{font-size:30px;margin:20px 0 10px 0}
.demo-table-text p{font-size:20px}
}
@media (min-width: 1200px) {
.demo-table-text{top:28%;}
}
@media (min-width: 2000px) {
.demo-table-text h1{font-size:46px}
.demo-table-text h2{font-size:40px;margin:20px 0 10px 0}
.demo-table-text p{font-size:26px}
}
.demo-table-text{position:absolute;left:25%;right:25%;text-align:center;width:50%;}

.demo-table-text h1{font-weight:bold;color:#fff}
.demo-table-text h1 span, .demo-table-text h2, .demo-table-text p b{color:#73b66f;}
.demo-table-text h2{text-transform:uppercase}
.demo-table-text span.money-before{color:#fff}
.demo-table-text p{color:#a9927b} 
.demo-table-text .line{position:relative;margin:0 15% 10px 15%;height:0px;border-top:1px solid #103d0e;border-bottom:1px solid #1d691b}
.demo-table-text .line:before,
.demo-table-text .line:after{content:"";position:absolute;top:-3px;height:6px;width:3px;background-color:#103d0e;border-bottom:1px solid #1d691b}
.demo-table-text .line:before{left:-3px;}
.demo-table-text .line:after{right:-3px}


/***** Основной стол юзернеймы позиция *****/
.main .gamer-num-0{left:85%;top:115%;margin-left:0;z-index:50;cursor: move}/* таскаемый блок */
.main .gamer-num-0 .gamer-info,
.demo .personal-game-info{display:none}
.main .personal-game-info{display:block}
@media (min-width: 768px) {
/*.main .gamer-num-0 .gamer-info,*/
.gamers-2.main .gamer-num-1 .gamer-info,
.gamers-4.main .gamer-num-2 .gamer-info,
.gamers-5.main .gamer-num-2 .gamer-info,
.gamers-5.main .gamer-num-3 .gamer-info,
.gamers-6.main .gamer-num-3 .gamer-info,
.gamers-7.main .gamer-num-3 .gamer-info,
.gamers-7.main .gamer-num-4 .gamer-info,
.gamers-8.main .gamer-num-4 .gamer-info,
.gamers-9.main .gamer-num-4 .gamer-info,
.gamers-9.main .gamer-num-5 .gamer-info,
.gamers-10.main .gamer-num-5 .gamer-info,
.gamers-11.main .gamer-num-5 .gamer-info,
.gamers-11.main .gamer-num-6 .gamer-info,
.gamers-12.main .gamer-num-6 .gamer-info{margin-left:-45px}

}
@media (min-width: 992px) {
/*.main .gamer-num-0 .gamer-info,*/
.gamers-2.main .gamer-num-1 .gamer-info,
.gamers-4.main .gamer-num-2 .gamer-info,
.gamers-5.main .gamer-num-2 .gamer-info,
.gamers-5.main .gamer-num-3 .gamer-info,
.gamers-6.main .gamer-num-3 .gamer-info,
.gamers-7.main .gamer-num-3 .gamer-info,
.gamers-7.main .gamer-num-4 .gamer-info,
.gamers-8.main .gamer-num-4 .gamer-info,
.gamers-9.main .gamer-num-4 .gamer-info,
.gamers-9.main .gamer-num-5 .gamer-info,
.gamers-10.main .gamer-num-5 .gamer-info,
.gamers-11.main .gamer-num-5 .gamer-info,
.gamers-11.main .gamer-num-6 .gamer-info,
.gamers-12.main .gamer-num-6 .gamer-info{margin-left:-52px}

}
@media (min-width: 1200px) {
/*.main .gamer-num-0 .gamer-info,*/
.gamers-2.main .gamer-num-1 .gamer-info,
.gamers-4.main .gamer-num-2 .gamer-info,
.gamers-5.main .gamer-num-2 .gamer-info,
.gamers-5.main .gamer-num-3 .gamer-info,
.gamers-6.main .gamer-num-3 .gamer-info,
.gamers-7.main .gamer-num-3 .gamer-info,
.gamers-7.main .gamer-num-4 .gamer-info,
.gamers-8.main .gamer-num-4 .gamer-info,
.gamers-9.main .gamer-num-4 .gamer-info,
.gamers-9.main .gamer-num-5 .gamer-info,
.gamers-10.main .gamer-num-5 .gamer-info,
.gamers-11.main .gamer-num-5 .gamer-info,
.gamers-11.main .gamer-num-6 .gamer-info,
.gamers-12.main .gamer-num-6 .gamer-info{margin-left:-57px}

}
@media (min-width: 2000px) {
/*.main .gamer-num-0 .gamer-info,*/
.gamers-2.main .gamer-num-1 .gamer-info,
.gamers-4.main .gamer-num-2 .gamer-info,
.gamers-5.main .gamer-num-2 .gamer-info,
.gamers-5.main .gamer-num-3 .gamer-info,
.gamers-6.main .gamer-num-3 .gamer-info,
.gamers-7.main .gamer-num-3 .gamer-info,
.gamers-7.main .gamer-num-4 .gamer-info,
.gamers-8.main .gamer-num-4 .gamer-info,,
.gamers-9.main .gamer-num-4 .gamer-info,
.gamers-9.main .gamer-num-5 .gamer-info,
.gamers-10.main .gamer-num-5 .gamer-info,
.gamers-11.main .gamer-num-5 .gamer-info,
.gamers-11.main .gamer-num-6 .gamer-info,
.gamers-12.main .gamer-num-6 .gamer-info{margin-left:-65px}

}

/*.main .gamer-num-0 .gamer-info{top:-35%;left:50%}*/
.gamers-2.main .gamer-num-1 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}

.gamers-3.main .gamer-num-1 .gamer-info{bottom:-15%;left:100%}
.gamers-3.main .gamer-num-2 .gamer-info{bottom:-15%;right:100%}

.gamers-4.main .gamer-num-1 .gamer-info{bottom:25%;left:114%}
.gamers-4.main .gamer-num-2 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-4.main .gamer-num-3 .gamer-info{bottom:25%;right:114%}

.gamers-5.main .gamer-num-1 .gamer-info{bottom:25%;left:114%}
.gamers-5.main .gamer-num-2 .gamer-info{bottom:-45%;left:70%}
.gamers-5.main .gamer-num-3 .gamer-info{bottom:-45%;right:30%}
.gamers-5.main .gamer-num-4 .gamer-info{bottom:25%;right:114%}

.gamers-6.main .gamer-num-1 .gamer-info{top:-2%;left:100%}
.gamers-6.main .gamer-num-2 .gamer-info{bottom:-20%;left:100%}
.gamers-6.main .gamer-num-3 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-6.main .gamer-num-4 .gamer-info{bottom:-20%;right:100%}
.gamers-6.main .gamer-num-5 .gamer-info{top:-2%;right:100%}

.gamers-7.main .gamer-num-1 .gamer-info{top:-30%;left:68%}
.gamers-7.main .gamer-num-2 .gamer-info{bottom:0;left:110%}
.gamers-7.main .gamer-num-3 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-7.main .gamer-num-4 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-7.main .gamer-num-5 .gamer-info{bottom:0;right:110%}
.gamers-7.main .gamer-num-6 .gamer-info{top:-30%;right:68%}

.gamers-8.main .gamer-num-1 .gamer-info{top:-30%;left:68%}
.gamers-8.main .gamer-num-2 .gamer-info{bottom:25%;left:114%}
.gamers-8.main .gamer-num-3 .gamer-info{bottom:-45%;left:70%}
.gamers-8.main .gamer-num-4 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-8.main .gamer-num-5 .gamer-info{bottom:-45%;right:70%}
.gamers-8.main .gamer-num-6 .gamer-info{bottom:25%;right:114%}
.gamers-8.main .gamer-num-7 .gamer-info{top:-30%;right:68%}

.gamers-9.main .gamer-num-1 .gamer-info{top:-32%;left:60%}
.gamers-9.main .gamer-num-2 .gamer-info{bottom:50%;left:110%}
.gamers-9.main .gamer-num-3 .gamer-info{bottom:-25%;left:90%}
.gamers-9.main .gamer-num-4 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-9.main .gamer-num-5 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-9.main .gamer-num-6 .gamer-info{bottom:-25%;right:90%}
.gamers-9.main .gamer-num-7 .gamer-info{bottom:50%;right:110%}
.gamers-9.main .gamer-num-8 .gamer-info{top:-32%;right:60%}

.gamers-10.main .gamer-num-1 .gamer-info{top:-35%;left:50%}
.gamers-10.main .gamer-num-2 .gamer-info{bottom:65%;left:105%}
.gamers-10.main .gamer-num-3 .gamer-info{bottom:-10%;left:105%}
.gamers-10.main .gamer-num-4 .gamer-info{bottom:-45%;left:50%}
.gamers-10.main .gamer-num-5 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-10.main .gamer-num-6 .gamer-info{bottom:-45%;right:50%}
.gamers-10.main .gamer-num-7 .gamer-info{bottom:-10%;right:105%}
.gamers-10.main .gamer-num-8 .gamer-info{bottom:65%;right:105%}
.gamers-10.main .gamer-num-9 .gamer-info{top:-35%;right:50%}

.gamers-11.main .gamer-num-1 .gamer-info{top:-35%;right:0}
.gamers-11.main .gamer-num-2 .gamer-info{bottom:80%;left:100%}
.gamers-11.main .gamer-num-3 .gamer-info{bottom:10%;left:115%}
.gamers-11.main .gamer-num-4 .gamer-info{bottom:-45%;left:65%}
.gamers-11.main .gamer-num-5 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-11.main .gamer-num-6 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-11.main .gamer-num-7 .gamer-info{bottom:-45%;right:65%}
.gamers-11.main .gamer-num-8 .gamer-info{bottom:10%;right:115%}
.gamers-11.main .gamer-num-9 .gamer-info{bottom:80%;right:100%}
.gamers-11.main .gamer-num-10 .gamer-info{top:-35%;left:0}

.gamers-12.main .gamer-num-1 .gamer-info{top:-35%;right:0}
.gamers-12.main .gamer-num-2 .gamer-info{bottom:85%;left:88%}
.gamers-12.main .gamer-num-3 .gamer-info{bottom:25%;left:114%}
.gamers-12.main .gamer-num-4 .gamer-info{bottom:-30%;left:88%}
.gamers-12.main .gamer-num-5 .gamer-info{bottom:-45%;left:35%}
.gamers-12.main .gamer-num-6 .gamer-info{bottom:-45%;left:20%;right:20%;margin:0 auto}
.gamers-12.main .gamer-num-7 .gamer-info{bottom:-45%;right:35%}
.gamers-12.main .gamer-num-8 .gamer-info{bottom:-30%;right:88%}
.gamers-12.main .gamer-num-9 .gamer-info{bottom:25%;right:114%}
.gamers-12.main .gamer-num-10 .gamer-info{bottom:85%;right:88%}
.gamers-12.main .gamer-num-11 .gamer-info{top:-35%;left:0}

/* Надписи в центре на основном столе */
.main .demo-table-text{display:none}
.main .poker-bet{display:block}

@media (max-width: 600px) {
.main .main-table-text,
.main .personal-game-info{display:none}
}
@media (min-width: 768px) {
.main-table-text{top:15%}
}
@media (min-width: 992px) {
.main-table-text{top:20%}
}
@media (min-width: 1200px) {
.main-table-text{top:22%}
}
@media (min-width: 2000px) {
.main-table-text{top:25%}
}
.main-table-text{position:absolute;left:23%;right:23%;text-align:center;width:54%;}

.main-table-text h3{color:#fff;text-transform:uppercase}
.game-status-bar{position:relative;width:50%;margin:0 auto;height:0;border-top:2px solid #a29e9e;border-bottom:2px solid #565a56;}
.game-status-bar:after, 
.game-status-bar:before{content:"";position:absolute;height:6px;width:6px;top:-3px;background: rgba(0, 0, 0, 0) url(../img/arrowhead.png) no-repeat;}
.game-status-bar:after{right:-6px;background-position:-6px 0}
.game-status-bar:before{left:-6px;background-position:0 0 }
.red-line{position:absolute;top:-2px;left:0;height:0;border-top:2px solid #ff4642;border-bottom:2px solid #b20a0a;z-index:1}
.red-line:after{content:"";position:absolute;height:28px;width:55px;top:-14px;right:-16px;background: rgba(0, 0, 0, 0) url(../img/flash.png) no-repeat 0 0;}
.bank-container{position:relative}
.bank{width:29.333333%;margin:20px 1.5%;display:inline-block;text-align:center;color:#ffeed2;border-top:1px solid #103D0E}
.bank h1{font-weight:bold;border-top:1px solid #1D691B;margin-top:0;margin-bottom:0;padding-top:3px}

.line-title-block{margin:0 auto;width:100%;text-align:center;overflow:hidden;}
.line-title{position:relative;display:inline-block;color:#113210;text-shadow: 0px 1px 0px rgba(36, 137, 41, .9);}
.line-holder{position:absolute;top:49.99%;width:2000px;display:block;border-top:1px solid #103D0E;border-bottom:1px solid #1D691B;}
.line-left{margin-right:.5em;right:100%}
.line-right{margin-left:.5em;left:100%}

/* Управление игрой */
.personal-game-info{position:absolute;top:100%;width:30%;left:50%;margin-left:-15%;text-align:center;z-index:4}
.personal-game-info p{color:#9b7865;margin:4% 0 0;text-transform:uppercase;font-size:99%;font-weight:bold}
.personal-game-info h1{color:#facb80;margin:3% 0 5%;font-weight:bold}
.button-container{text-align:center;padding-top:8%;background: rgba(0, 0, 0, 0) url(../img/line.png) no-repeat center top / 100% auto;}
.control{width:22%;display:inline-block;margin:0 2%}
.control img, .camera img{width:100%;height:auto;cursor:pointer}
.control:hover img, .camera:hover img, .camera.on img{opacity:0}
.up{background: rgba(0, 0, 0, 0) url(../img/control-up-hover.png) no-repeat -300px 0;}
.pass{background: rgba(0, 0, 0, 0) url(../img/control-pass-hover.png) no-repeat -300px 0;}
.compare{background: rgba(0, 0, 0, 0) url(../img/control-compare-hover.png) no-repeat -300px 0;}
.up:hover{background: rgba(0, 0, 0, 0) url(../img/control-up-hover.png) no-repeat center top / 100% auto;}
.pass:hover{background: rgba(0, 0, 0, 0) url(../img/control-pass-hover.png) no-repeat center top / 100% auto;}
.compare:hover{background: rgba(0, 0, 0, 0) url(../img/control-compare-hover.png) no-repeat center top / 100% auto;}
.camera{width:14%;margin:16% auto 0;background: rgba(0, 0, 0, 0) url(../img/camera-hover.png) no-repeat -300px 0;}
.camera:hover{background: rgba(0, 0, 0, 0) url(../img/camera-hover.png) no-repeat center top / 100% auto;}
.camera.on{background: rgba(0, 0, 0, 0) url(../img/camera-on.png) no-repeat center top / 100% auto;}

.my-bet{position:relative;}
.my-bet .h1{margin:3% 0 5%}
.my-bet .bet{width:60%;padding:0 5%;background:#25160d;color:#facb80;/*border-bottom:1px solid #8a5d42;*/border-radius:3px;text-align:center;font-weight:bold;}
.my-bet form{position:absolute;top:-20%;left:0}
.my-bet form{display:none}
.my-bet:hover form{display:block}
.my-bet:hover h1{opacity:0}
.my-bet .knob-l, 
.my-bet .knob-r{position:absolute;width:15%;height:55%;text-align:center;top:20%;display:block;border:none;background:none;color:#603f32;font-size:130%}
.my-bet .knob-l{left:0;margin:0 0 0 5%;} 
.my-bet .knob-r{right:0;margin:0 5% 0 0;}
.my-bet .knob-l:hover{color:#d90000} 
.my-bet .knob-r:hover{color:#73b66f}
.error-bet{position:absolute;left:20%;top:0;width:60%;padding:0 1%;background:#680503;color:#e15755;/*border-bottom:1px solid #e15755;*/border-radius:3px;text-align:center;display:none}
.error-bet span{font-size:70%}

/***** Video in game *****/
@media (max-width: 600px) {
.video{display:none}
}
@media (min-width: 768px) {
.video{width:104px;height:104px;margin:3px}
.video object,
.video embed{width:138px;height:104px;margin-left:-17px}
}
@media (min-width: 992px) {
.video{width:140px;height:140px;margin:4px}
.video object,
.video embed{width:186px;height:140px;margin-left:-23px}
}
@media (min-width: 1200px) {
.video{width:174px;height:174px;margin:6px;}
.video object,
.video embed{width:232px;height:174px;margin-left:-29px}
}
@media (min-width: 2000px) {
.video{width:218px;height:218px;margin:8px}
.video object,
.video embed{width:290px;height:218px;margin-left:-36px}
}
.video{overflow:hidden;position:absolute;border-radius:50%;background: rgba(0, 0, 0, 0) url(../img/loss-signal2.png) no-repeat center top / cover;}

/***** Taimer bar *****/
.demo .progress-radial-container{display:none}
.progress-radial-container{position:absolute;overflow:hidden;border-radius:50%;width:100%;height:100%;display:none}
.progress-radial {width: 100%;height: 100%;border-radius: 50%;}

.progress-0  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-1  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(93.6deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-2  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(97.2deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-3  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(100.8deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-4  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(104.4deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-5  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-6  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(111.6deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-7  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(115.2deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-8  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(118.8deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-9  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(122.4deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-10 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-11 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(129.6deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-12 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(133.2deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-13 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(136.8deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-14 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(140.4deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-15 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-16 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(147.6deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-17 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(151.2deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-18 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(154.8deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-19 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(158.4deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-20 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-21 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(165.6deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-22 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(169.2deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-23 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(172.8deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-24 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(176.4deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-25 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-26 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(183.6deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-27 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(187.2deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-28 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(190.8deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-29 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(194.4deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-30 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-31 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(201.6deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-32 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(205.2deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-33 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(208.8deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-34 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(212.4deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-35 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-36 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(219.6deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-37 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(223.2deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-38 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(226.8deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-39 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(230.4deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-40 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-41 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(237.6deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-42 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(241.2deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-43 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(244.8deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-44 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(248.4deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-45 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-46 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(255.6deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-47 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(259.2deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-48 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(262.8deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-49 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(266.4deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-50 {background-image: linear-gradient(-90deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-51 {background-image: linear-gradient(-86.4deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-52 {background-image: linear-gradient(-82.8deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-53 {background-image: linear-gradient(-79.2deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-54 {background-image: linear-gradient(-75.6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-55 {background-image: linear-gradient(-72deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-56 {background-image: linear-gradient(-68.4deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-57 {background-image: linear-gradient(-64.8deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-58 {background-image: linear-gradient(-61.2deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-59 {background-image: linear-gradient(-57.6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-60 {background-image: linear-gradient(-54deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-61 {background-image: linear-gradient(-50.4deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-62 {background-image: linear-gradient(-46.8deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-63 {background-image: linear-gradient(-43.2deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-64 {background-image: linear-gradient(-39.6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-65 {background-image: linear-gradient(-36deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-66 {background-image: linear-gradient(-32.4deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-67 {background-image: linear-gradient(-28.8deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-68 {background-image: linear-gradient(-25.2deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-69 {background-image: linear-gradient(-21.6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-70 {background-image: linear-gradient(-18deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-71 {background-image: linear-gradient(-14.4deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-72 {background-image: linear-gradient(-10.8deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-73 {background-image: linear-gradient(-7.2deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-74 {background-image: linear-gradient(-3.6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-75 {background-image: linear-gradient(0deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-76 {background-image: linear-gradient(3.6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-77 {background-image: linear-gradient(7.2deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-78 {background-image: linear-gradient(10.8deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-79 {background-image: linear-gradient(14.4deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-80 {background-image: linear-gradient(18deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-81 {background-image: linear-gradient(21.6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-82 {background-image: linear-gradient(25.2deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-83 {background-image: linear-gradient(28.8deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-84 {background-image: linear-gradient(32.4deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-85 {background-image: linear-gradient(36deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-86 {background-image: linear-gradient(39.6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-87 {background-image: linear-gradient(43.2deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-88 {background-image: linear-gradient(46.8deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-89 {background-image: linear-gradient(50.4deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-90 {background-image: linear-gradient(54deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-91 {background-image: linear-gradient(57.6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-92 {background-image: linear-gradient(61.2deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-93 {background-image: linear-gradient(64.8deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-94 {background-image: linear-gradient(68.4deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-95 {background-image: linear-gradient(72deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-96 {background-image: linear-gradient(75.6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-97 {background-image: linear-gradient(79.2deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-98 {background-image: linear-gradient(82.8deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-99 {background-image: linear-gradient(86.4deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.progress-100{background-image: linear-gradient(90deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}

.second-0  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(90deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-1  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(96deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-2  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(102deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-3  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(108deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-4  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(114deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-5  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(120deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-6  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(126deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-7  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(132deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-8  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(138deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-9  {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(144deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-10 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(150deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-11 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(156deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-12 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(162deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-13 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(168deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-14 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(174deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-15 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(180deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-16 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(186deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-17 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(192deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-18 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(198deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-19 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(204deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-20 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(210deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-21 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(216deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-22 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(222deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-23 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(228deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-24 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(234deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-25 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(240deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-26 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(246deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-27 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(252deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-28 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(258deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-29 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(264deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-30 {background-image: linear-gradient(90deg, #1F140D 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-31 {background-image: linear-gradient(-84deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-32 {background-image: linear-gradient(-78deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-33 {background-image: linear-gradient(-72deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-34 {background-image: linear-gradient(-66deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-35 {background-image: linear-gradient(-60deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-36 {background-image: linear-gradient(-54deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-37 {background-image: linear-gradient(-48deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-38 {background-image: linear-gradient(-42deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-39 {background-image: linear-gradient(-36deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-40 {background-image: linear-gradient(-30deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-41 {background-image: linear-gradient(-24deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-42 {background-image: linear-gradient(-18deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-43 {background-image: linear-gradient(-12deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-44 {background-image: linear-gradient(-6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-45 {background-image: linear-gradient(0deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-46 {background-image: linear-gradient(6deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-47 {background-image: linear-gradient(12deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-48 {background-image: linear-gradient(18deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-49 {background-image: linear-gradient(24deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-50 {background-image: linear-gradient(30deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-51 {background-image: linear-gradient(36deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-52 {background-image: linear-gradient(42deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-53 {background-image: linear-gradient(48deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-54 {background-image: linear-gradient(54deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-55 {background-image: linear-gradient(60deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-56 {background-image: linear-gradient(66deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-57 {background-image: linear-gradient(72deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-58 {background-image: linear-gradient(78deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-59 {background-image: linear-gradient(84deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}
.second-60 {background-image: linear-gradient(90deg, #d90000 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #d90000 50%, #1F140D 50%, #1F140D);}


/***** Live Games *****/
.separator-live-game{background: rgba(0, 0, 0, 0) url(../img/live-games.png) no-repeat center top / 100% auto;min-height:300px}
.live-game-block{position:relative;padding:5.6% 0 300px}
.game-block{margin:0 0 30px;position:relative;}
.game-info{position:absolute;width:100%;height:100%;top:0;left:0;border:1px solid rgba(0, 0, 0, 0);border-bottom:none;}
.game-info .table{margin:0}
img.live-game-bg{width:100%}

a.create{text-transform:uppercase;padding:8px 13px}
a.goes, a.watch{text-transform:uppercase;padding:5px 10px}
a.create:hover, a.goes:hover, a.watch:hover{text-decoration:none}
a.create{color:#ba9783;border:1px solid #956653;}
a.create span{color:#2da22d;padding:0 5px 0 0}
a.create:hover span{color:#fff;}
a.create:hover{color:#fff;background:#2e9d2d;border:1px solid #4bd649;} 
a.goes{color:#fff;background:#367436;border:1px solid #418b41;}
a.watch{color:#fff;background:#744836;border:1px solid #8b5641;}

.lite-green, .goes-game .participants span{color:#73b66f;}
.lite-brown, .watch-game .participants span{color:#b6906f;}
.lite-green, .lite-brown{font-size:15px;padding:0 0 12px}
.participants{color:#fff;margin:0;}
.game-info-more{position:absolute;width:100%;height:0;z-index:5;opacity: 0;visibility:hidden;/*display:none;*/}
.game-block:hover .game-info-more{opacity: 1;visibility:visible;/*display:block;*/height:auto;
	-webkit-transition: all .4s ease 0s;
	   -moz-transition: all .4s ease 0s;
		-ms-transition: all .4s ease 0s;
		 -o-transition: all .4s ease 0s;
		 	transition: all .4s ease 0s;}
.game-user-block{padding:8px 12px}
.game-user-block p{margin:0 0 5px 0;font-size: 16px;}
.game-user-block p:first-child{margin:0 0 15px 0;}

/* */
.create-game{}
.create-game-container{position:absolute;top:64px;left:0;display:none;}
a.close{height:16px;width:16px;opacity:.8;display:block;background:url(../img/close.png) no-repeat;}
a.close:hover{opacity:1}
.money-after:after, .money-before:before{content:"";display:inline-block;height:16px;width:16px;background: rgba(0, 0, 0, 0) url(../img/icons.png) no-repeat 0 0;}
.money-after:after{margin:0 0 -2px 10px;}
.money-before:before{margin:0 10px -2px 0;}

/* ----- */
.game-options{background:#193c19;padding:0 20px 20px 20px;}
.game-options h2{text-transform:uppercase;color:#347034;margin:12px 0;}
.game-options h3{text-transform:uppercase;color:#fff;}
.game-options h2 span{display:inline-block;/*padding:5px 6px;*//*width:50px;background:#347034;color:#fff;*//*text-align:center;*/}
.game-options p{color:#367436;font-size:18px;}
.game-options a.close{background-position: 0 0;}
.game-options .v-line{border-left:1px solid #285828;}
.game-options .buttons{padding:20px 0 0}
.game-options label{color:#fff;font-weight:normal;font-size:18px;padding:0;margin-left:-18px}
.game-options input[type="radio"]{/*display: none;*/opacity:0}
.game-options input[type=radio]+label:before{content: "";display: inline-block;border-radius:50%;border:8px solid #142d14;margin:0 10px -2px 0}
.game-options input[type=radio]:checked+label:before{content: "";display: inline-block;border-radius:50%;border:4px solid #142d14;height:16px;width:16px;background:#2da22d;}
.game-options input[type=radio]:disabled+label:before{content: "";display: inline-block;border-radius:50%;border:8px solid #183918;}
.game-options input[type=radio]:disabled+label{color:#476347;}
.game-options input[type=text]{background:#142d14;border:1px solid #184218;padding:5px 10px;margin:5px 0;font-size:18px;color:#fff;width:90%;}
.game-options input:-moz-placeholder {color: #367436;}
.game-options input::-moz-placeholder {color: #367436;}
.game-options input:-ms-input-placeholder {color: #367436;}
.game-options input::-webkit-input-placeholder {color: #367436;}
.game-options input.number[type=text]{background:#347034;border:none;color:#fff;width:41px;height:41px;text-align:center;padding:0;font-size:30px;}
.game-options input.number:-moz-placeholder {color: #6eb86e;}
.game-options input.number::-moz-placeholder {color: #6eb86e;}
.game-options input.number:-ms-input-placeholder {color: #6eb86e;}
.game-options input.number::-webkit-input-placeholder {color: #6eb86e;}
.button-green{background: #347034;border:1px solid #2da22d;display:table;padding:5px 10px;text-decoration: none;text-transform:uppercase;font-size: 12pt;color: #fff;}
.button-green:focus, .button-green:hover{text-decoration:none;color:#fff;}
a.green{color:#367436;border-bottom:1px dashed #367436;font-size:16px;line-height:2;}
a.green:focus, a.green:hover{color:#2da22d;border-bottom-color:#2da22d;text-decoration:none;}

/* ----- */
.invite-friends{background:#392c25;border-left:1px solid #367436;padding:0 20px 20px 20px;display:none;height:calc(100% + 0px)}
.invite-friends h3{text-transform:uppercase;color:#ba9783;}
.invite-friends p{color:#367436;font-size:18px;}
.invite-friends a.close{background-position: 0 100%;}

/* */		
.goes-game .game-info-more {border:1px solid #418b41;border-top:none;}
.goes-game .game-info-more,
.goes-game:hover .game-info{background:#183b18;}
.goes-game:hover .game-info{border:1px solid #418b41;border-bottom:none;
	-webkit-transition: all .4s ease 0s;
	   -moz-transition: all .4s ease 0s;
		-ms-transition: all .4s ease 0s;
		 -o-transition: all .4s ease 0s;
		 	transition: all .4s ease 0s;}
.goes-game .game-user{background:#142d14;padding:3px 10px;color:#fff;position:relative}
.goes-game .game-user:before, 
.goes-game .game-user.admin:before{content:"";position:absolute;left:-3px;top:50%;margin-top:-2px;width:5px;height:5px;}
.goes-game .game-user:before{border:1px solid #469746;background:#367436}
.goes-game .game-user.admin:before{border:1px solid #b74725;background:#8d371d}
.goes-game .game-title{color:#fff;padding:10px 0;border:1px solid #1c471c;border-left:none;border-right:none;text-align:center;}

/* */
.watch-game .game-info-more {border:1px solid #5f3e2b;border-top:none;}
.watch-game .game-info-more,
.watch-game:hover .game-info{background:#3e271b;}
.watch-game:hover .game-info{border:1px solid #5f3e2b;border-bottom:none;
	-webkit-transition: all .4s ease 0s;
	   -moz-transition: all .4s ease 0s;
		-ms-transition: all .4s ease 0s;
		 -o-transition: all .4s ease 0s;
		 	transition: all .4s ease 0s;}
.watch-game .game-user{background:#2d1d15;padding:3px 10px;color:#fff;position:relative}
.watch-game .game-user:before, 
.watch-game .game-user.admin:before{content:"";position:absolute;left:-3px;top:50%;margin-top:-2px;width:5px;height:5px;}
.watch-game .game-user:before{border:1px solid #469746;background:#367436}
.watch-game .game-user.admin:before{border:1px solid #b74725;background:#8d371d}
.watch-game .game-title{color:#fff;padding:10px 0;border:1px solid #472b1c;border-left:none;border-right:none;text-align:center;}

/***** POPUP *****/
#parent_popup {background-color: rgba(0, 0, 0, 0.5);width: 100%;height: 100%;display: none;position: fixed;z-index: 99999;top: 0;right: 0;bottom: 0;left: 0;overflow: hide;}
.table {width: 100%;height: 100%;display: table;}
.cell {display: table-cell;text-align: center;vertical-align: middle;}
.windowContainer{position:relative;display:inline-block;max-width: 600px;min-width: 380px;background: url(../img/popup-bg.jpg) no-repeat top center / cover;}
.popup-content{padding:1px 6% 0;}
.borderL{background: rgba(0, 0, 0, 0) url(../img/border-left.png) repeat-y}
.borderR{background: rgba(0, 0, 0, 0) url(../img/border-right.png) repeat-y center right}
.borderT{background: rgba(0, 0, 0, 0) url(../img/border-top.png) repeat-x}
.borderB{background: rgba(0, 0, 0, 0) url(../img/border-bottom.png) repeat-x center bottom}
.cornerTL, .cornerTR, .cornerBR, .cornerBL {background: rgba(0, 0, 0, 0) url(../img/popup-corner.png) no-repeat;height: 14px;position: absolute;width: 14px;}
.cornerTL {background-position: 0 0;left: 0;top: 0;}
.cornerTR {background-position: 100% 0;right: 0;top: 0;}
.cornerBR {background-position: 100% 100%;bottom: 0;right: 0;}
.cornerBL {background-position: 0 100%;bottom: 0;left: 0;}
.popup-title{position:relative;color:#fff;height:30px;display:table;margin:0 auto;padding:0 10px;font-size:20px;background: transparent url(../img/popup-title-bg.png) repeat-x}
.popup-title:before, .popup-title:after{content:"";position:absolute;height:30px;width:6px;}
.popup-title:before{left:-6px;background: transparent url(../img/popup-title-bg.png) no-repeat 0 -30px}
.popup-title:after{right:-6px;background: transparent url(../img/popup-title-bg.png) no-repeat 100% -30px}
.popup-content input {background: transparent url(../img/popup-input.png);}
.popup-content p {margin: 18px 0 16px;color: #9b7865;}
.buttons {padding: 20px;}
.popup-content a.button-brown {background: #744836;border:1px solid #8b5641;display:table;margin:0 auto;padding:5px 10px;text-decoration: none;text-transform:uppercase;font-size: 12pt;color: #fff;}



/***** Sticky Footer *****/
.page-wrap {min-height: 100%;height: auto !important;height: 100%;/* equal to footer height */margin-bottom: -112px;background:#2d1f17 url(../img/page-wrap.png) no-repeat top center; }
.page-wrap:after {content: "";display: block;}
.site-footer, .page-wrap:after {height: 112px;}

/***** Footer *****/
footer{position:relative;background:url(../img/footer.png) no-repeat bottom center, url(../img/footer-total.png) repeat-x bottom center, rgba(45,31,23,1);}
.footer-nav{padding:36px 0 0}
.footer-nav a{color:#654634;font-size:18px;position:relative;display:inline-block;margin:0 10px 0}
.footer-nav a:before{content:"•";position:absolute;left:-10px;color:#9f3831;}
.footer-logo img{margin-top:24px}

/***** Main Game Page *****/
.page-wrap-main-game{min-height:100%;height:auto !important;height:100%;margin-bottom:0;background:#2d1f17 url(../img/page-wrap.png) no-repeat top center / auto 100%;}
.page-wrap-main-game .game-zone{margin:10% auto 0}
.bottom-curve-bg{background:#2d1f17 url(../img/page-wrap.png) no-repeat top center;}
.page-wrap .bottom-curve,
.demo .bottom-curve{display:none}
/* кнопки */
.top-knob{position:absolute;height:50%;width:9%;background: url(../img/top-knob-bg.png) no-repeat top center / cover;top:3%;text-align: center;}
.top-knob.sett{left:39%}
.top-knob.exit{right:39%}
.top-knob .link-sett, 
.top-knob .link-exit{width:40%;height:40%;margin:30% auto 0 auto}
.top-knob .link-sett{background: url(../img/knob-sett-hover.png) no-repeat -300px 0;}
.top-knob .link-exit{background: url(../img/knob-exit-hover.png) no-repeat -300px 0;}
.top-knob .link-sett:hover{background: url(../img/knob-sett-hover.png) no-repeat top center / cover;}
.top-knob .link-exit:hover{background: url(../img/knob-exit-hover.png) no-repeat top center / cover;}
.top-knob .link-sett:hover img,
.top-knob .link-exit:hover img{opacity:0}


/***** chat *****/
.chat{position:fixed;width:100%;height:40%;bottom:calc(60% - 100% + 27px);background:#372a24;transition: all 0.4s ease-in-out 0.3s;z-index:9;}
.chat:hover{bottom:0;transition: all 0.4s ease-in-out 0.3s;}
.chat-top{height:27px;background: rgba(0, 0, 0, 0) url(../img/chat-top.png) repeat-x top center;position:absolute;left:0;right:0;top:0;box-shadow: 0 10px 15px 0 rgba(14, 9, 8, .2);}

.open-chat{position:absolute;width:40px;height:47px;left:50%;bottom:50%;margin:0 0 -23px -20px;background: rgba(0, 0, 0, 0) url(../img/open-chat.png) no-repeat right center;}
.chat:hover .open-chat{background-position: left center;}
.chat-body{height:calc(100% + 1px);}
.chat-left, 
.chat-right{padding-top:47px;height:calc(100% - 1px)}
.chat-left{background:#372a24;border-right:1px solid #533f37}
.chat-right{background: #2e231e;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJlMjMxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzJhMjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #2e231e 0%, #372a24 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2e231e), color-stop(100%,#372a24));
	background: -webkit-linear-gradient(left,  #2e231e 0%,#372a24 100%);
	background: -o-linear-gradient(left,  #2e231e 0%,#372a24 100%);
	background: -ms-linear-gradient(left,  #2e231e 0%,#372a24 100%);
	background: linear-gradient(to right,  #2e231e 0%,#372a24 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e231e', endColorstr='#372a24',GradientType=1 );
}
.chat-item-block{padding-left:3px;margin-bottom:20px;height:calc(100% - 80px);overflow-y:auto}
.chat-item,
.chat-user{padding:5px 10px;font-size: 16px;}
.chat-item{background:#312620;color:#9b7865;margin:0 0 10px 0}
.chat-item p{margin:0;font-size: 16px;}
.chat-user{background:#372a24;margin:-5px 10px 0px -10px;color:#ba9783;line-height:1;font-weight:bold;position:relative}
.chat-user:before, .chat-user.admin:before{content:"";position:absolute;left:-3px;top:50%;margin-top:-2px;width:5px;height:5px;}
.chat-user:before{border:1px solid #469746;background:#367436}
.chat-user.admin:before{border:1px solid #b74725;background:#8d371d}
.chat-right p{margin:0;line-height:1.1}
.chat-right a{background:#372a24;margin:0;padding:0 10px;color:#9b7865;font-weight:normal;}

.chat-form{border: none;display: block;padding: 0 45px 0 0;position: relative;width: 100%;}
input.text {background-color: #4a3932;border: medium none;display: inline-block;font-size: 16px;margin:0;line-height: 1.8;padding: 0 18px;width: 100%;color: #9b7865;}
.chat-send {background: #46362f;border-top: 0 none !important;border-bottom: 0 none !important;border-right: 0 none !important;border-left:1px solid #372a24;color: #9b7865;cursor: pointer;display: block;font-size: 10px;height: 100%;font-style: normal;font-weight: normal;padding: 4px 0;position: absolute;right: 0;text-align: center;top: 0;transition: all 0.2s ease 0s;width: 44px;}
.chat-send:hover{background: #2d1f17;}

.chat-searh-block {height:21px;margin-bottom:15px;}
.chat-searh-block .chat-online{background-color:#367436;color:#fff;font-weight:bold;padding:0 7px;font-size:14px;display:inline-block;height:21px;}
.chat-user-block{padding-left:3px;margin-bottom:20px;height:calc(100% - 60px);overflow-y:auto}
.chat-searh{background-color: #221815;}
input.searh{background-color: #221815;border: medium none;font-size: 16px;margin:0;padding: 0 10px;width: 100%;color: #3c2b21;height:21px}

/***** CLEARFIX *****/
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0}
.clearfix {display: block;zoom: 1}

/**** Other style *****/
.fl{float:left}
.fr{float:right}
.inlb{display:inline-block}
.relative{position:relative}
.bold{font-weight:bold}